.box{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    position: absolute;
    animation-name: runMe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes runMe{

    from{
        background-color: lightcoral;
    }
    to{
        background-color: palegreen;
    }

}